

body{
    display: grid;
    font-family: 'Noto Sans HK', sans-serif;
    background-color: rgba(171, 183, 183, 0.75);
}

.btnGroup{
    display: grid;
    grid-template-columns: 170px 170px;
    gap: 10px;
    width: 350px;
}

.btnGroup > Button{
    border-radius: 10px;
    height: 60px;
    transition: 0.75s;
    border: none;
    box-shadow: 1px 2px 1px gray;
}

.btnGroup > Button:not(:last-child):hover{
    background-color: rgba(233, 212, 96, 1);
    color: black;
    transition: 0.75s;
    border: none;
    
}

h1{
    text-align: center;
    padding: 40px;
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(255,255,0,0.2);
    border-bottom: 1px solid black;
}

.wrapper{
    display: flex;
    padding: 20px;
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    flex-direction: row;
    place-items: center;
    justify-content:flex-start;
    gap: 100px;
}

.wrapper > .counter{
    font-size: 70px;
    /* margin-left: 15%; */
}

@media (max-width: 450px){
    .wrapper{
        display: flex;
        width: 90%;
        flex-direction: column;
        margin: auto;
        margin-top: 10%;
    }
    .wrapper > .counter{
        font-size: 50px;
        margin: 0;
    }
}